/*UTEP Mixins*/
 .smallText {
	 font-size: 12px;
}
 .uppercase {
	 text-transform: uppercase;
}
 .bold {
	 font-weight: 600;
}
 .underlined {
	 text-decoration: underline;
}
 .openSans {
	 font-family: 'Open Sans', sans-serif;
}
 .tungsten {
	 font-family: "Tungsten A", "Tungsten B", "Open Sans", sans-serif;
}
/*Skip to Main Content*/
 #skippy {
	 background-color: #f2f2f2;
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 z-index: 1031;
}
 #mainContentArea, .skipToMainContentLink {
	 display: block;
	 height: 0;
	 width: 0;
	 overflow: auto;
}
 #mainContentArea:focus, .skipToMainContentLink:focus {
	 width: auto;
	 height: auto;
}
/*General*/
 body {
	 font-family: 'Open Sans', sans-serif;
}
 body.scrolled {
	 padding-top: 136px;
}
 p {
	 line-height: 1.7;
}
 a:hover, a:focus {
	 color: #333;
}
 h1, h2, h3, h4, h5, h6 {
	 color: #041E42;
	 font-family: "Tungsten A", "Tungsten B", "Open Sans", sans-serif;
	 font-style: normal;
}
 h5, h6 {
	 color: #5A5A5A;
}
 h1, .h1 {
	 font-size: 50px;
	 font-weight: 600;
}
 h2, .h2 {
	 font-size: 45px;
}
 a {
	 color: #333;
}
 img {
	 max-width: 100%;
	 width:100%;
	 height: auto;
}
 h1:target, h2:target, h3:target {
	 padding-top: 135px;
}
 .tableOverflow {
	 overflow: scroll;
}
 .main-content p{
	 color:#2B2B2B;
	/* UC-99 need contrast ratio of 3:1 with surrounding text */
}
 .main-content a {
	 color: #337ab7 
}
/*buttons*/
 .btn {
	 border: none;
	 white-space:normal;
}
 .btn-primary, a.btn-primary {
	 color: white;
	 background-color: #041E42;
}
 .btn-primary:hover, .btn-primary:focus, a.btn-primary:hover, a.btn-primary:focus{
	 color: #333;
	 background-color: #FF8200;
}
/*MinerAlerts*/
 .UC-alertMessage {
	 padding: 10px 0;
	 margin: 0 auto;
	 max-width: 700px;
}
 .alertBg {
	 background-color: #f2f2f2;
	 overflow: auto;
	 padding: 10px 0;
}
 .UC-alertMessage p {
	 font-size: 14px;
	 line-height: 1.3;
}
 .UC-alertMessage .h3 {
	 font-size: 18px;
	 margin-top: 0;
	 font-weight: 600;
	 text-transform: uppercase;
}
/*Header*/
 .UTEP-Branding {
	 background-color: #041E42;
	 color: #fff;
}
 .UTEP-Branding .UTEP-Logo {
	 background-color: #FF8200;
	 float: left;
	 margin-right: 12px;
}
 .utepHeader .departmentHeading, .utepHeader .collegeHeading {
	 padding: 15px;
	 min-height: 82px;
}
 .utepHeader .departmentHeading a, .utepHeader .departmentHeading a:focus, .utepHeader .departmentHeading a:link, .utepHeader .departmentHeading a:visited, .utepHeader .collegeHeading a, .utepHeader .collegeHeading a:focus, .utepHeader .collegeHeading a:link, .utepHeader .collegeHeading a:visited{
	 color: #fff;
}
 .utepHeader .departmentHeading h1 {
	 font-family: 'Open Sans', sans-serif;
	 text-transform: uppercase;
	 margin: 0;
	 font-size: 25px;
	 font-weight: 700;
}
 .utepHeader .departmentHeading h2 {
	 font-family: 'Open Sans', sans-serif;
	 font-weight: 600;
	 margin: 0;
	 font-size: 22px;
}
 .utepHeader .collegeHeading h1 {
	 font-family: 'Open Sans', sans-serif;
	 text-transform: uppercase;
	 margin: 10px 0 0 0;
	 font-size: 28px;
	 font-weight: 700;
}
 .bodyBg {
	 background: #041E42;
	 min-height: 82px;
	 position: absolute;
	 left: 0;
	 right: 0;
}
 @media (min-width: 1250px) {
	 .headerContainer {
		 position: relative;
		 z-index:100;
	}
	 .UTEP-Branding {
		 max-height: 82px;
	}
	 .collegeHeading, .departmentHeading {
		 background-color: #041E42;
	}
	 .utepHeader .navbarCollapseContainer {
		 position: absolute;
	}
}
 @media (min-width:1250px ) and (max-width: 1364px){
	 .headerContainer {
		/*height:82px;
		*/
	}
	 .UTEP-Branding .UTEP-Logo {
		 max-width: 110px;
		 max-height:82px;
	}
	 .utepHeader .navbarCollapseContainer{
		 bottom: -50px;
		 width:100%;
	}
}
 @media (max-width: 1249px) {
	 .bodyBg {
		 min-height: 60px;
	}
	 .UTEP-Branding {
		 background-color: #fff;
		 color: #041E42;
		 position: relative;
	}
	 .UTEP-Branding .UTEP-Logo {
		 max-width: 80px;
		 max-height:60px;
	}
	 .UTEP-Branding .UTEP-Logo img {
		 max-width: 100%;
	}
	 .UTEP-Branding .navbar-header {
		 background-color: #041E42;
	}
	 .utepHeader .departmentHeading, .utepHeader .collegeHeading {
		 background-color: #fff;
		 padding: 14px;
		 min-height: 0;
	}
	 .utepHeader .departmentHeading h1 {
		 font-size: 16px;
	}
	 .utepHeader .departmentHeading h2 {
		 font-size: 14px;
	}
	 .utepHeader .departmentHeading a, .utepHeader .departmentHeading a:focus, .utepHeader .departmentHeading a:link, .utepHeader .departmentHeading a:visited, .utepHeader .collegeHeading a, .utepHeader .collegeHeading a:focus, .utepHeader .collegeHeading a:link, .utepHeader .collegeHeading a:visited {
		 color: #041E42;
	}
}
/*Navigation*/
 .navbar.utepHeader {
	 background: transparent;
	 border: none;
	 margin-bottom: 0;
	 font-size: 12px;
}
 .navbar-default.utep-nav .navbar-nav > li > a {
	 font-weight: 600;
	 color: #041E42;
	 text-transform: uppercase;
	 padding-left: 12px;
	 padding-right: 0;
}
 .navbar-default.utep-nav .navbar-nav.navbar-right > li > a {
	/*Navigation top right - my utep, resources & quick links*/
	 padding-left: 0;
	 padding-right: 12px;
}
 #search-trigger{
	/*center magnifier*/
	 padding-left: 12px;
	 padding-right: 12px;
}
 .navbar-default.utep-nav .navbar-nav > li > a:hover, .navbar-default.utep-nav .navbar-nav > li > a:focus {
	 color: #29405e;
}
 .navbar-default.utep-nav .navbar-nav > li > a:focus, .navbar-header button:focus{
	/*uc-101 to uc-113 outline issue*/
	 outline: 1px dotted #3b73cf;
	/*#cf733b*/
	;
	 outline: 5px auto -webkit-focus-ring-color;
	 outline-offset: -2px;
}
/*.navbar-default.utep-nav .navbar-nav > li > a:-moz-focusring {
	 outline: 1px dotted;
}
*/
 .navbar-default.utep-nav .navbar-nav > .open > a {
	 background-color: transparent;
}
 .navbar-default.utep-nav .navbar-nav > .open > a, .navbar-default.utep-nav .navbar-nav > .open > a:hover, .navbar-default.utep-nav .navbar-nav > .open > a:focus {
	 color: #29405e;
}
 .navbar-default.utep-nav .navbar-collapse {
	 background-color: #f8f8f8;
	 padding-right: 0;
	 padding-left: 0;
}
 @media (max-width: 1249px) {
	 .navbar-default.utep-nav .navbar-nav {
		 margin: 0;
	}
	 .navbar-default.utep-nav .navbar-nav > li {
		 border-bottom: 1px solid #FF8200;
	}
	 .navbar-default.utep-nav .dropdown.open {
		 background-color: #f0f2f4;
	}
	 .navbar-default.utep-nav .dropdown.open .dropdown-menu a:hover {
		 background-color: #f8f8f8;
		 color: #041E42;
	}
	 .navbarCollapseContainer {
		 position: relative;
	}
	 .navbar-default.utep-nav .navbar-collapse {
		 position: absolute;
		 top: 0;
		 left: 0px;
		 right: 0px;
		 padding: 0;
		 margin: 0px;
		 z-index: 5;
	}
	 form#myutep-search-mobile > .search-container {
		 padding-left: 15px;
	}
	 .navbar-default.utep-nav .navbar-nav > li.myUTEPLink {
		 background-color: transparent;
		 text-align: center;
		 border: none;
	}
	 .navbar-default.utep-nav .navbar-nav > li.resourcesForLinks {
		 text-align: center;
		 border: none;
	}
	 .navbar-default.utep-nav .navbar-nav > li.resourcesForLinks .infoFor {
		 color: #041E42;
		 font-weight: 600;
	}
	 .navbar-default.utep-nav .navbar-nav > li.resourcesForLinks .dropdown-menu {
		 font-size: 12px;
		 display: block;
		 position: static;
		 float: none;
		 width: auto;
		 max-width: 400px;
		 margin: 0 auto;
		 background-color: transparent;
		 border: 0;
		 -webkit-box-shadow: none;
		 box-shadow: none;
	}
	 .navbar-default.utep-nav .navbar-nav > li.resourcesForLinks .dropdown-menu > li {
		 display: inline-block;
	}
	 .navbar-default.utep-nav .navbar-nav > li.resourcesForLinks .dropdown-menu > li > a:hover {
		 background-color: transparent;
		 color: #FF8200;
	}
}
 .navbar-right {
	 margin-right: 0;
}
/*Dropdown*/
 .dropdown-menu {
	 background: #f2f2f2;
	 border: none;
	 box-shadow: none;
}
 .dropdown-menu li > a {
	 font-weight: 600;
	 color: #041E42;
}
 .dropdown-menu li > a:hover {
	 background-color: #fff;
}
 .quickLinksArrow {
	 display: inline-block;
	 width: 0;
	 height: 0;
	 margin-left: 2px;
	 vertical-align: middle;
	 border-left: 4px dashed;
	 border-left: 4px solid \9;
	 border-bottom: 4px solid transparent;
	 border-top: 4px solid transparent;
}
 .sidr-open .navbar-fixed-top, .sidr-animating .navbar-fixed-top {
	 right: inherit;
	 width: inherit;
	 left: inherit;
}
 .open div > .dropdown-menu {
	 display: block;
}
 @media (min-width: 1250px) {
	 .ddWrapper {
		 background-color: #f2f2f2;
		 position: absolute;
		 z-index: 4;
	}
	 .open div > .dropdown-menu {
		 float: left;
		 display: inline-block;
		 min-width: 160px;
		 position: static;
	}
	 .navbar-default.utep-nav .nav > li {
		 position: static;
	}
}
 @media (max-width: 1249px) {
	 .open div > .dropdown-menu {
		 padding: 0;
	}
}
 @media (max-width: 767px) {
	 .utep-nav .nav > li {
		 border-bottom: 1px solid #ddd;
	}
	 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		 color: #041E42;
	}
	 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		 color: #333333;
		 background-color: #fff;
	}
	 .navbar-default.utep-nav .container-fluid {
		 background-color: #fff;
		 position: absolute;
		 left: 0;
		 right: 0;
		 top: 60px;
		 z-index: 5;
	}
}
/*Mobile Toggle*/
 .navbar-default .navbar-toggle {
	 border: none;
	 padding-left:65px;
}
 .navbar-toggle .icon-bar + .icon-bar {
	 margin-top: 6px;
}
 .navbar-default .navbar-toggle .icon-bar {
	 background-color: #FF8200;
}
 .navbar-default .navbar-toggle.collapsed .icon-bar, .navbar-default .navbar-toggle.collapsed:focus .icon-bar {
	 background-color: #fff;
}
 .navbar-toggle .icon-bar {
	 width: 32px;
}
 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	 background-color: transparent;
}
 .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
	 background-color: #FF8200;
}
/*Square corners*/
 * {
	 -webkit-border-radius: 0 !important;
	 -moz-border-radius: 0 !important;
	 border-radius: 0 !important;
}
/*Quick Links*/
 #sidr {
	 text-transform: uppercase;
	 padding-left:20px;
	 color: #041E42;
	 font-family: "Tungsten A", "Tungsten B", "Open Sans", sans-serif;
	 font-style: normal;
	 font-weight:500;
}
 #sidr h3{
	 font-size: 45pt;
}
 .close-sidr {
	 margin-top:30px !important;
	 margin-right:20px !important;
}
 #sidr.sidr.right {
	 right:-320px;
	 width:320px;
}
 #sidr ul {
	 list-style: none;
	 padding:0;
	 font-size:20pt;
}
 #sidr ul li, #sidr ol li {
	 margin:5px 0;
	 border-bottom: 2px solid #FF8200;
}
 #sidr .stroke{
	 width: 58%;
	 margin-bottom: 40px;
	 text-align:left;
}
 .sidr ul li a, .sidr ul li span {
	 display: block;
	 text-decoration: none;
}
 .sidr ul li a {
	 color: #041E42;
}
 .sidr ul li a:hover, .sidr ul li a:focus {
	 color: #FF8200;
}
 .stroke, .social-right .right-stroke {
	 border-top: 2px solid #041E42;
	 width: 30%;
	 margin-bottom: 10px;
	 margin-left: 0;
}
/*Carousel*/
 .carousel-caption {
	 background: rgba(29, 30, 35, 0.55) 
	/*#1d1e23*/
	;
	 text-align: left;
	 padding: 20px 20px 30px;
	 bottom: 12%;
	 left: 10%;
	 right: 50%;
}
 .carousel-caption h1 {
	 color: #fff;
	 font-family: "Tungsten A", "Tungsten B", "Open Sans", sans-serif;
	 font-style: normal;
	 font-size: 48px;
	 margin-top: 0;
}
 .slide-transfer h1 {
	 margin-top: 0;
	 color: white;
	 font-size: 40px;
	 font-weight:600;
}
 .slide-transfer a {
	 font-family: 'Open Sans', sans-serif;
	 font-weight:bold;
	 color:#041E42 !important;
}
 .carousel-learn-more {
	 text-align: left;
}
 .carousel-caption a {
	 font-family: 'Open Sans';
	 font-weight: bold;
	 padding-left: 30px;
	 padding-right: 30px;
}
 .carrousel-wrapper{
	 position:relative;
}
 @media (max-width: 991px){
	 #carrousel img, carrousel video{
		/* height:338px;
		 width:100%;
		*/
	}
}
 .carousel-control {
	 background-color: rgba(0, 0, 0, 0.55);
	 height: 20%;
	 top: 45%;
	 width: 3%;
}
 @media (max-width: 991px){
	 .carousel-control {
		/* top:28%*/
		 padding:5px;
	}
	 .left.carousel-control {
		 margin-left:10px;
	}
	 .right.carousel-control {
		 margin-right:10px;
	}
}
 .carousel-control .glyphicon {
	 top: 45%;
}
 .carousel-control .glyphicon-chevron-right {
	 right: 35%;
}
 .carousel-control .glyphicon-chevron-left {
	 left: 35%;
}
 @media (max-width: 767px){
	 .carousel-control{
		 width:7%;
	}
	 .carousel-control .glyphicon-chevron-right{
		 right:50%;
	}
	 .carousel-control .glyphicon-chevron-left{
		 left:50%;
	}
}
 .carousel-inner > .item {
	 opacity: 0;
	 top: 0;
	 left: 0;
	 width: 100%;
	 display: block;
	 position: absolute;
	 z-index: 0;
	 -webkit-transition: none;
	 -o-transition: none;
	 transition: none;
	 -webkit-transform: translate3d(0, 0, 0) !important;
	 transform: translate3d(0, 0, 0) !important;
}
 .carousel-inner > .item:first-of-type {
	 position: relative;
}
 .carousel-inner > .active {
	 opacity: 1;
	 z-index: 3;
}
 .carousel-inner > .next.left, .carousel-inner > .prev.right {
	 -webkit-transition: opacity 0.6s ease-in-out;
	 -o-transition: opacity 0.6s ease-in-out;
	 transition: opacity 0.6s ease-in-out;
	 opacity: 1;
	 left: 0;
	 z-index: 2;
}
 .carousel-inner > .active.left, .carousel-inner > .active.right {
	 z-index: 1;
}
 .carousel-control {
	 z-index: 4;
}
 .video-wrapper {
	 max-height: 535px;
}
 .video-wrapper video {
	 max-width: 100%;
	 min-width: 100%;
}
 @media (max-width: 1199px) {
	 .video-wrapper {
		 max-height: 441px;
	}
}
 @media (max-width: 991px) {
	 .video-wrapper {
		 max-height: 338px;
	}
}
/*rightSidebar*/
 .rightSidebar {
	 padding-left: 40px;
	 padding-bottom: 60px;
}
/*LeftSidebar*/
 .leftSidebar {
	 padding-top: 20px;
	 padding-left: 40px;
	 padding-right: 40px;
}
 .leftSidebar, .sidr {
	/* SEE [UC-33] Added a png background instead of background-color because of rendering artifacts in safari (iPad). Safari adds a border-right to the navigation block. */
	 background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEXu7u6DSdFtAAAACklEQVR4XmNgAAAAAgAB3p6PvwAAAABJRU5ErkJggg==) repeat;
}
 .leftSidebar h2 {
	 color: #333;
	 font-family: 'Open Sans', sans-serif;
	 font-weight: 600;
	 text-transform: uppercase;
	 font-size: 12px;
	 border-bottom: 1px solid;
	 display: block;
	 padding: 6px 0;
}
 .leftSidebar h2:first-child {
	 margin-top: 0;
}
 .leftSidebar .nav {
	 margin-bottom: 24px;
}
 .leftSidebar .nav li a {
	 padding-left: 0;
}
 .leftSidebar .nav li.active a:before {
	 content: "";
	 display: inline-block;
	 width: 0;
	 height: 0;
	 margin-left: 2px;
	 margin-right: 6px;
	 vertical-align: middle;
	 border-left: 4px dashed;
	 border-left: 4px solid \9;
	 border-bottom: 4px solid transparent;
	 border-top: 4px solid transparent;
}
 .white{
	 background-color: white;
}
 @media (min-width: 992px) {
	 .leftSidebar .nav li a {
		 padding: 6px 0;
	}
}
 .UTEPGlobalIcons li {
	 margin-bottom: 12px;
}
 .UTEPGlobalIcons li .btn.btn-primary, .UTEPGlobalIcons li .btn.btn-secondary {
	 text-transform: uppercase;
	 font-weight: 600;
	 font-size: 12px;
	 padding: 12px 0;
}
 .UTEPGlobalIcons li .btn.btn-primary:hover, .UTEPGlobalIcons li .btn.btn-primary:focus, .UTEPGlobalIcons li .btn.btn-secondary:hover, .UTEPGlobalIcons li .btn.btn-secondary:focus {
	 background-color: #FF8200;
	 color:#333333;
}
 .UTEPGlobalIcons li .btn-secondary {
	 background-color: #b1b3b3;
	 color: #041e42;
}
 .socialIcons li {
	 float: left;
	 margin-right: 6px;
	 max-width: 42px;
}
 .leftSidebar .socialIcons li a, .social-right .socialIcons li a{
	 padding: 6px;
}
 .socialIcons li a img {
	 max-width: 100%;
}
/*breadcrumb*/
 @media (min-width: 992px){
	 .breadcrumb{
		 margin-top:20px;
	}
}
 .breadcrumb {
	 background-color: transparent;
	 padding: 0;
}
 .breadcrumb a {
	 text-transform: uppercase;
	 font-size: 12px;
	 color: #222222;
}
 .breadcrumb > li + li:before {
	 content: ">";
}
/*footer*/
 footer {
	 font-family: "Tungsten A", "Tungsten B", "Open Sans", sans-serif;
	 font-style: normal;
	 font-weight: 500;
	 background-color: #041E42;
	 color: #fff;
}
 footer .footerLogo {
	 background-color: #fff;
	 padding:0;
}
 footer .requiredLinks {
	 font-size: 16px;
	 padding: 12px 0 0 90px;
}
 footer .requiredLinks h2 {
	font-family: "Tungsten A", "Tungsten B", "Open Sans", sans-serif;
	 color: #fff;
	 text-transform: uppercase;
	 font-size: 32px;
	 font-weight: 600;
}
 footer .requiredLinks ul {
	 text-transform: uppercase;
	 float: left;
	 padding-left: 0;
}
 footer .requiredLinks ul li {
	 list-style: none;
}
 footer .requiredLinks a {
	 color: #fff;
}
 footer .contact-information-link {
	 display:inline-block;
}
 footer .requiredLinks ul {
	 padding-right: 80px;
}
 @media (max-width: 767px) {
	 footer {
		 text-align: center;
	}
	 footer .requiredLinks {
		 padding: 24px 0;
	}
	 footer .requiredLinks h2 {
		 font-size: 24px;
	}
	 footer .requiredLinks ul {
		 float: none;
		 text-align: center;
		 margin-bottom: 30px;
		 padding-right: 0;
	}
}
 @media (max-width: 991px) {
	 footer .container {
		 width: 100%;
		 padding: 0;
	}
	 footer .footerLogo img {
		 margin: 0 auto;
	}
}
/*flexBox for tablet and Desktop views*/
 @media (min-width: 992px) {
	 .flexBoxWrapper {
		 display: -webkit-flex;
		 display: -ms-flexbox;
		 display: flex;
		 -webkit-flex-wrap: wrap;
		 -ms-flex-wrap: wrap;
		 flex-wrap: wrap;
	}
	 .flexBoxWrapperDesktop .flexBoxItem {
		 display: -webkit-flex;
		 display: -ms-flexbox;
		 display: flex;
	}
}
 .article-image{
	 background:none repeat scroll 0 0 #F5F5F5;
	 border: 1px solid #DDDDDD;
	 max-width:600px;
}
 .article-image{
	 background:none repeat scroll 0 0 #F5F5F5;
	 border: 1px solid #DDDDDD;
	 max-width:600px;
}
 @media (min-width: 1365px){
	 .container {
		 width:100%;
		 max-width: 1365px;
	}
	 .utepHeader .navbarCollapseContainer {
		 position: absolute;
		 bottom: 0;
		 left: 174px;
		 right: 0;
	}
}
 @media (max-width: 992px) {
	 .article-image {
		 float:none !important;
		 margin-left:auto;
		 margin-right:auto;
		 display:block;
	}
}
 @media (min-width: 993px) {
	 .article-image {
		 margin-left:5px;
	}
}
 .container{
	 padding:0 !important;
}
/* Search Bar styles */
 .search-engaged #search-trigger {
	 background-color: white;
}
 #container{
	 clear:both;
}
 input#search-query {
	 display: block;
	 background-color: white;
	 border: none;
	 color: #67686a;
	 font-size: 17px;
	 outline: none;
	 position: relative;
	 width: 100%;
	 z-index: 1300;
	 font-style: normal;
	 font-weight: 300;
	 font-size: 24px;
	 height: 52px;
	 padding: 0 20px;
}
 @media only screen and (min-width: 928px) {
	 input#search-query {
		 font-size: 32px;
		 height: 80px;
		 line-height: 32px;
		 padding: 0 20px;
	}
}
 form#myutep-search {
	 display: none;
	 background-color: #041E42;
	 position: relative;
	 width: 100%;
	 padding-top: 2px;
	 z-index: 1200;
}
 form#myutep-search label, form#myutep-search-mobile label {
	 position: absolute;
	 font-weight: normal;
	 opacity: 1;
	 display: block;
	 color: #9a9b9a;
	 z-index: 1300;
	 moz-transform-origin: 0, 0em;
	 -o-transform-origin: 0, 0em;
	 -ms-transform-origin: 0, 0em;
	 -webkit-transform-origin: 0, 0em;
	 transform-origin: 0, 0em;
	 -webkit-transition: 100ms;
	 -moz-transition: 100ms;
	 -ms-transition: 100ms;
	 -o-transition: 100ms;
	 transition: 100ms;
}
 @media only screen and (max-width: 640px) {
	 form#myutep-search label {
		 top: 15px;
		 left: 20px;
		 font-size: 22px;
	}
}
 @media only screen and (min-width: 641px) and (max-width: 927px) {
	 form#myutep-search label {
		 top: 17px;
		 left: 20px;
		 font-size: 24px;
	}
}
 @media only screen and (min-width: 928px) {
	 form#myutep-search label {
		 top: 28px;
		 margin-left: 22px;
		 font-size: 32px;
		 line-height: 32px;
	}
}
 form#myutep-search .floating-label label, form#myutep-search-mobile .floating-label label {
	 opacity: 0;
	 top: 2px;
	 margin-left: -55px;
}
 form#myutep-search-mobile input{
	 background-color: #eff0f3;
	 border: 0;
}
 form#myutep-search-mobile label{
	 top: 38px;
	 left: 28px;
}
 form#myutep-search-mobile > .search-container{
	 padding-top:28px;
	 padding-right:20px;
}
/* hide above/below 1250 */
 @media (max-width: 1249px) {
	 .hidden-below-1365
	/*Inconsistency in naming class. max-width changed, but class is tied to the html.*/
	 {
		 display: none !important;
	}
}
 @media (min-width: 1250px) {
	 .hidden-above-1365 
	/*Inconsistency in naming class. min-width changed, but class is tied to the html.*/
	{
		 display: none !important;
	}
}
 .slide-transfer {
	 width: 100%;
	 font-family: "Tungsten A", "Tungsten B", "Open Sans", sans-serif;
	 padding: 20px;
	 line-height: 1.1;
	 background-color: #041E42;
}
 #carrousel *::-webkit-media-controls-start-playback-button {
	/*Remove play button for iPhone*/
	 display: none!important;
	 -webkit-appearance: none;
}
/* People Pages */
 .people .peopleSection:first-child {
	 border-top: none;
}
 .people .peopleSection {
	 border-top: 1px solid #ddd;
}
 .people .peopleSection .row {
	 margin-bottom: 24px;
}
 .people .peopleSection .col-md-6 {
	 overflow: auto;
}
 .profilePictureWrapper {
	 display: block;
	 float: left;
	 max-width: 200px;
	 margin: 12px 12px 12px 0;
}
 .people .peopleSection .infoCol {
	 overflow: hidden;
}
 @media (max-width: 991px) {
	 .people .peopleSection .row {
		 margin-bottom: 0;
	}
}
 @media (max-width: 1199px) {
	 .profilePictureWrapper {
		 max-width: 120px;
	}
}
 @media (min-width: 992px) {
	 .no-margin-top h1:first-child , .no-margin-top h2:first-child , .no-margin-top h3:first-child , .no-margin-top h4:first-child , .no-margin-top h5:first-child {
		 margin-top: 0;
	}
}
 .event-date{
	 color:#333;
	 font-size: 24px;
	 font-family:"Tungsten A", "Tungsten B", "Open Sans", sans-serif;
}
 .event-description.no-margin-top h1, .event-description.no-margin-top h2, .event-description.no-margin-top h3, .event-description.no-margin-top h4, .event-description.no-margin-top h5{
	 margin-top:0;
}
 .full-screen .modal-dialog {
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 padding: 0;
}
 .full-screen .modal-content {
	 height: auto;
	/*min-height: 100%;
	*/
	 border-radius: 0;
}
 .full-screen .modal-header{
	 border:0;
}
 .transparent{
	 background-color:transparent;
	 box-shadow: none;
	 -webkit-box-shadow: none;
	 border:0;
}
 .modal-backdrop.in {
	 opacity: 0.9;
	 filter: alpha(opacity=90);
}
 .full-screen.modal .close{
	 color:#c8c8c8;
	 opacity:1;
	 filter: alpha(opacity=100);
}
 .full-screen.modal .modal-body{
	 padding:0;
}
 .glyphicon-image-wrapper .glyphicon {
	 position: absolute;
	 top: 40%;
	 left: 40%;
	 font-size: 50px;
	 color: white;
	 opacity: .9;
	 filter: alpha(opacity=90);
}
 .full-screen.modal .modal-header{
	 padding:3%;
	;
}
 .carousel-tablist-highlight{
	 height:0 !important;
}
 img.widthAuto, .widthAuto img{
	 width: auto;
}
/*video{
	 object-fit: fill;
}
*/
 img.video-fallback{
	 position:absolute;
	 z-index:-1;
}
 #header {
	 width: 100%;
	 z-index:100;
}
 .affix {
	 top:0;
	 position:fixed;
}
 .affix-top{
	 position:fixed;
}
 .alert-active.affix-top{
	 position:static;
}
 .sticky-wrapper {
	 height:132px;
}
 .alertBg {
	 position: relative;
}
 .alertBg > div:first-child {
	 position: absolute;
	 top: 50%;
	 transform: translateY(-50%);
	 margin: 0;
}
 .alertBg .h3 {
	 margin: 0;
}
 #stay-connected{
	 max-width: 100% !important;
	 width: 100% !important;
	 border:none;
	 overflow:scroll;
}
 @media (max-width: 991px){
	 .rightSidebar{
		 padding-left:15px;
	}
}
 #bs-example-navbar-collapse-1{
	 z-index:999;
}
 .navbarCollapseContainer ul, .navbarCollapseContainer
/*>.navbar-collapse in*/
{
	 z-index:999;
	/* max-height:540px;
	/*[UC-47] and [UC-70] - Fix mobile navigation menu by properly displaying the footer.*/
}
 #myutep-search > div > label {
	 pointer-events: none;
}
 .content-footer-spacing{
	 height:60px;
}
 .full-social-media-icon-list a{
	 color: #19223b;
	 margin-right:30px;
}
 #blog-posts img{
	 margin-top:28px;
}
 .share-icons.nav > li > a{
	 padding:0;
}
 .share-icons.nav > li > a:hover, .share-icons.nav > li > a:focus{
	 background-color:transparent;
}
 .share-icons li{
	 float:left;
}
 .uc-share-icons li{
	 padding:5px;
}
 .uc-share-icons li a:hover{
	 cursor:pointer;
}
 #blog-posts h1>a {
	 color:#041E42;
}
 #blog-posts h1>a:hover {
	 color:#FF8200;
}
 form#myutep-search button {
	 height: 80px;
}
 form#myutep-search-mobile input, form#myutep-search-mobile button {
	 background-color: #eff0f3;
	 border: 0;
}
 .leftSidebar a:hover, .leftSidebar a:focus{
	 color:#29405E;
}
 a.contact-email{
	 color:#2F6FA7;
}
 a.contact-email:hover,a.contact-email:focus, .main-content a:hover, .main-content a:focus{
	 color:#29405E;
}
/* Uncomment to get the same hover behavior as the hamburger. .navbar-toggle:before{
	 color:#FF8200;
}
 .navbar-toggle.collapsed:before{
	 color:#fff;
}
 .navbar-toggle.collapsed:hover:not(:focus):before{
	 color:#FF8200;
}
 */
 .navbar-toggle:before {
	 content: "Menu";
	 right: 52px;
	 top: auto;
	 position: absolute;
	 width: 50px;
	 font-weight:600;
	 font-size:16px;
	 color:#fff;
}
 .carousel-control:focus{
	 outline:auto;
	/*[uc-96] row 25*/
}
 .carousel-caption.center {
	 left:30%;
	 right:30%;
}
 .carousel-caption.right {
	 left: 50%;
	 right: 10%;
}
